.blog-header {
  line-height: 1;
  border-bottom: 5px solid #712828;
  border-left: 5px solid #712828;
  border-right: 5px solid #712828;
  border-top: 5px solid #712828;
  background-color: #819882;
  display: flex;
  justify-content: flex-between;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", Georgia, 'Times New Roman', Times, serif;
}

.display-4 {
  font-size: 2.5rem;
}

.carousel-dark-indicator-active-bg,  
.carousel-dark-caption-color
{
  color: #db0000;
}
.carousel-dark-control-icon-filter{
  invert(1) grayscale(100);
}  

.text-center-right{
  text-align: center;
  float: right 70px;
}
Logo{
  image-rendering: auto;
  margin-left: 0;
  margin-right: 20px;
  width: 100px;
  height: 100px;
}
.nav{
  margin-left: -20px;
}
social-icons{
  margin-left: 10px;
  font-size: 24px;
}
.footer {
background-color: #aca5a5;
color: white;
text-align: center;
padding: 20px 0;
        }
.img-css{
  margin-right: 450px;
}
.nav-nav{
  justify-content: space-between;
}
.carousel carousel-dark slide{
  align-items: center;
  align-content: center;
  justify-content: center;
}
.carousel-item h5{
  color: #cdd82c;
  outline-color: black;
   text-shadow: 2px 2px #000000 ;
  font-family: "Playfair Display", Georgia, 'Times New Roman', Times, serif, bold;
  
}
.carousel-item p{
  color: #f0f0f0;
  outline-color: black;
  text-shadow: 2px 2px #000000 ;
  font-family: "Playfair Display", Georgia, 'Times New Roman', Times, serif, bold;
}
.carosel{
  align-items: center;
  margin-left: 500px;
}
.sidebar{
  position: fixed;
  top: 20%;
  right: 0;
  left: auto; 
  z-index: 1;
  height: 41.5%;
  padding-top: 25px;
  overflow: hidden;
  border-bottom: 5px solid #712828;
  border-left: 5px solid #712828;
  border-right: 5px solid #712828;
  border-top: 5px solid #712828;
  background-color: #819882;
}
.nav i {
  justify-content: space-between;
  
}
.decor {position:relative;}
.side-r a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: #333;
  margin-right: 10px; 
}

.side-r a i {
  margin-left: 5px; 
}
aside p {
  color: #333;
  font-size: 16px; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  line-height: 1.5; 
  text-align: justify;
}

aside h5 {
  color: #3d5700; 
  font-size: 24px; 
  text-shadow: 1px 0px 4px indianred; 
  text-align: justify;
}
.sidebar a {
  display: flexbox;
  margin-bottom: 10px;
  text-decoration: none;
  color: #333;
}

